<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <div th:replace="fragments/config :: configFragment"></div>

</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: headerFragment"></div>
    <div class="container mb-5">

        <div class="row mt-lg-4">
            <div class="col-2"></div>
            <div class="col-4 mt-2"><h2><span th:text="${member.nick}"></span><span th:text="${code}"
                                                                                    class="text-muted"></span>'s Profile
            </h2></div>
        </div>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="card">

                    <input type="hidden"
                           th:value="${profile.photo == 'none'}? '../images/noimage.png' : @{'/image/profile/'+${profile.mNo}+'/'+${profile.photo}}"
                           id="originalPhoto">
                    <img class="d-block user-select-none" width="100%" height="100%"
                         th:src="${#strings.equals(profile.photo, 'none')}?'../images/noimage.png': @{'/image/profile/'+${profile.mNo}+'/'+${profile.photo}}"
                         id="preview">
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <form id="photoForm" name="photoForm">
            <div class="row mt-2">
                <div class="col-4"></div>
                <div class="col-4" id="inputPhoto">
                </div>
            </div>
            <div class="row mt-2 mb-3">
                <div class="col-7"></div>
                <div class="col-4">
                    <button type="button" class="btn btn-secondary" id="photoBtn">사진 편집</button>
                </div>
            </div>
            <div class="row mt-2" id="photoBtns" style="display: none" align="center">
                <div class="col-6">
                    <small class="form-text text-muted">5mb가 넘지 않은 jpg,jpeg,png 파일만 업로드 할수 있습니다.</small>
                </div>
                <div class="col-4">
                    <button type="button" id="photoSubmit" name="photoSubmit" class="btn btn-success">변경</button>
                    <button type="button" id="photoCancel" name="photoCancel" class="btn btn-warning">취소</button>
                </div>
            </div>
        </form>
        <form id="profileForm" class="frm mb-5" action="/member/updateProfile" method="post" name="profileForm">

            <div align="center" class="mt-3" id="nickDiv">
                <span class="form-text text-muted" id="nickAlert">Nickname</span>

                <h3 id="originalNick"><span th:text="${member.nick}"></span><span th:text="${code}"
                                                                                  class="text-muted"></span></h3>
            </div>
            <div align="center" class="mt-4">
                <span class="form-text text-muted">프로필과 피드를 누구까지 볼 수 있나요?</span>
                <div id="openProfile">
                    <th:block th:if="${profile.openProfile == 'y'}">
                        <h4>누구나</h4>
                    </th:block>
                    <th:block th:if="${profile.openProfile == 'f'}">
                        <h4>친구만</h4>
                    </th:block>
                </div>

                <fieldset class="form-group col-2" id="radioOpenProfile" style="display: none">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="openProfile" id="openProfileOption1"
                               value="y"
                               th:checked="${profile.openProfile eq 'y'}"/>
                        <label class="form-check-label" for="openProfileOption1">
                            누구나
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="openProfile" id="openProfileOption2"
                               value="f"
                               th:checked="${profile.openProfile eq 'f'}"/>
                        <label class="form-check-label" for="openProfileOption2">
                            친구만
                        </label>
                    </div>
                </fieldset>
            </div>
            <div id="genderDiv" align="center" class="mt-3">
                <span class="form-text text-muted">성별</span>
                <span class="badge rounded-pill bg-primary" th:text="${member.gender == 'female'}?'여성':'남성'"></span>
            </div>
            <div id="genderOpenDiv" align="center" class="mt-3">
                <span class="form-text text-muted">성별공개</span>
                <span class="badge rounded-pill bg-danger"
                      th:text="${profile.openGender == 'n'}?'shush!':'yes!'" id="genderOpen"></span>
                <fieldset class="form-group col-2" id="genderOpenProfile" style="display: none">

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="openGender" id="openGenderOption1"
                               value="y"
                               th:checked="${profile.openGender eq 'y'}"/>
                        <label class="form-check-label" for="openGenderOption1">
                            공개
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="openGender" id="openGenderOption2"
                               value="n"
                               th:checked="${profile.openGender eq 'n'}"/>
                        <label class="form-check-label" for="openGenderOption2">
                            비공개
                        </label>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div id="introDiv" name="intro" class="col-8 mt-4">
                    <small class="form-text text-muted" style="display: none" id="introHelp">300자이내로 작성해주세요.
                        <span id="textCount" class="form-text text-muted"></span>
                    </small>

                    <textarea class="form-control"
                              th:text="${profile.intro == null || profile.intro eq ''}?'자기소개가 없습니다':${profile.intro}"
                              readonly="readonly"
                              id="intro" name="intro">

                </textarea>
                </div>
            </div>

            <div align="center" class="mt-3 mb-5" id="modifyBtns">
                <button type="button" class="btn btn-secondary" id="modifyBtn" align="center">프로필 수정</button>
                <button type="submit" class="btn btn-info" id="submitBtn" style="display: none">수정 완료</button>
                <button type="button" class="btn btn-warning" id="cancelBtn" style="display: none">취소</button>
            </div>
            <div align="center" class="mt-3 mb-5" id="linkDiv">
                <div class="mb-2"><a href="/member/passwordChangeForm">비밀번호 변경</a></div>
                <div><a href="/member/leaveForm">회원 탈퇴</a></div>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footerFragment"></div>
</body>
<script th:inline="javascript">
    // intro 사이즈에 맞춰 textarea 사이즈 조절
    document.addEventListener('DOMContentLoaded', function () {
        autosize(document.querySelectorAll('#intro'));
    }, false);

    function chk() {
        let blank = /\s/g;

        if (profileForm.nick.value.length < 2 || profileForm.nick.value.length > 12) {
            alert("닉네임는 2자 이상, 12자 이하로 입력해주세요")
            profileForm.nick.focus();
            return false;
        }

        let nickChk = profileForm.nick.value;
        if (nickChk.match(blank)) {
            alert("닉네임에 공백이 포함될 수 없습니다.");
            profileForm.nick.focus();
            return false;
        }
        let nickPattern = /[^(가-힣a-zA-Z)]/;
        if (nickPattern.test(profileForm.nick.value)) {
            alert("닉네임은 영문 대소문자, 한글만 입력 가능합니다.")
            profileForm.nick.focus();
            return false;
        }
    }

    // 미리보기
    function readPhoto(input) {
        if (input.files > (5 * 1024 * 1024) && input.files[0].size > (5 * 1024 * 1024)) {
            alert("파일 사이즈가 5mb 를 넘습니다.");
            input.value = null;
        }
        let fileVal = input.value;
        if (fileVal != "") {
            var ext = fileVal.split('.').pop().toLowerCase(); //확장자분리
            //아래 확장자가 있는지 체크
            if ($.inArray(ext, ['jpg', 'jpeg', 'png']) == -1) {
                alert('jpg,jpeg,png 파일만 업로드 할수 있습니다.');
                input.value = null;
                return;
            }
        }
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#preview").attr("src", e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            document.getElementById('preview').src = "";
        }
    }

    $('#intro').keyup(function () {
        let content = $(this).val();
        // 글자수 세기
        if (content.length == 0 || content == '') {
            $('#textCount').text('0자');
        } else {
            $('#textCount').text(content.length + '자');
        }

        // 글자수 제한
        if (content.length > 300) {
            // 300자 부터는 타이핑 되지 않도록
            $(this).val($(this).val().substring(0, 300));
            // 200자 넘으면 알림창 뜨도록
            alert('자개소개는 300자까지 입력 가능합니다.');
        }
        ;
    });


    let originalPhoto = $("#originalPhoto").val();
    /*<![CDATA[*/
    let memberNick = [[${member.nick}]];
    let msg = [[${msg}]];
    /*]]>*/
    if (msg == "NICK_ERR") {
        alert("닉네임 수정에 실패하였습니다. 다시 시도해주세요");
    }
    if (msg == "PROFILE_ERR") {
        alert("프로필 수정에 실패하였습니다. 다시 시도해주세요.");
    }
    if (msg == "SER_ERR") {
        alert("예기치 못한 에러가 발생했습니다. 다시 시도해주세요. 반복적으로 발생시 관리자에게 문의 바랍니다. travelPlannerOffical@gmail.com")
    }
    if (msg == "SUCCESS") {
        alert("프로필 수정 완료!")
    }
    if (msg == "PASS_SUCCESS") {
        alert("비밀번호 변경 완료!")
    }

    $(document).ready(function () {

        $("#photoBtn").on("click", function () {
            $("#inputPhoto").append($("<input/>", {
                type: "file",
                name: "photo",
                id: "photo",
                class: "form-control",
                onchange: "readPhoto(this)"
            }));
            $("#photoBtn").css("display", "none");
            $("#photoBtns").css("display", "block")

        });
        $("#photoCancel").on("click", function () {
            $("#photoBtn").css("display", "block");
            $("#photoBtns").css("display", "none")
            $("#preview").attr("src", originalPhoto);
            $("#photo").remove();
        });
        $("#photoSubmit").click(function () {
            let formData = new FormData($("#photoForm")[0]);
            $.ajax({
                url: "/member/myPhoto",
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                type: "POST",
                enctype: 'multipart/form-data',
                success: function (data) {
                    if (data == "PHOTO_INSERT_ERROR") {
                        alert("사진 업로드에 실패하였습니다. 다시 시도해주세요");
                    } else if (data == "NO_FILE") {
                        alert("파일을 선택해주세요");

                    } else {
                        $("#photoBtn").css("display", "block");
                        $("#photoBtns").css("display", "none")
                        $("#preview").attr("src", data);
                        //@{'/image/profile/'}+${profile.mNo}+'/'+${profile.photo}
                        $("#photo").remove();

                    }
                },
                error: function () {
                    alert("에러가 발생했습니다 다시 시도해주세요 반복적으로 발생시 관리자에서 문의 바랍니다. travelPlannerOffical@gmail.com");
                }
            });
        });
        $("#modifyBtn").click(function () {
            $("#originalNick").css("display", "none");
            $("#profileForm").attr("onsubmit", "return chk()");
            $("#modifyBtn").css("display", "none");
            $("#cancelBtn, #submitBtn").css("display", "");
            $("#nickAlert").text("2자 이상 12자 이하의 영문 또는 한글을 사용해주세요.");
            $("#nickDiv").append($("<input/>", {
                type: "text",
                name: "nick",
                id: "nick",
                class: "form-control",
                width: "200px",
                value: memberNick
            }));
            $("#openProfile").remove();
            $("#radioOpenProfile").css("display", "");
            $("#genderOpenProfile").css("display", "");
            $("#intro").removeAttr("readOnly");
            $("#genderOpen").css("display", "none");
            $("#introHelp").css("display", "");
        });
        $("#cancelBtn").click(function () {
            location.reload();
        });
        let content = $('#intro').val();
        // 글자수 세기
        if (content.length == 0 || content == '') {
            $('#textCount').text('0자');
        } else {
            $('#textCount').text(content.length + '자');
        }


    });

</script>

</html>